:root {
  --clr-black: #1c1c1c;
  --clr-gray: #ececec;
  --clr-white: #f7f7f7;

  --type-normal: #A8A878;
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-grass: #78C850;
  --type-electric: #F8D030;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038F8;
  --type-steel: #B8B8D0;
  --type-fairy: #F0B6BC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: #F6FA70;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-size: 3em;
  cursor: pointer;
}

.search-container p {
  text-align: center;
}

.search-box input{
  border: 2px solid #f0f0f0;
  border-radius: 0.5em;
  padding: 0.5em;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#render {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #00DFA2;
  /* background-color: rgb(190 242 100); */
  gap: 20px 20px;
  height: auto;
  width: 90%;
  padding: 0.5em 0.5em 3em 0.5em;
  border-radius: 0.7em;
  margin-bottom: 1em;
  position: relative;
}

#btn-holder{
  position: absolute;
  right: 5;
  bottom: 0;
}

.carta {
  min-width: 10vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.7em;
  background-color: whitesmoke;
  text-align: center;
  overflow: hidden;
  padding: 0.5em;
  h3{
    font-weight: 600;
    text-transform: capitalize;
  }
}

.info-btn{
  transition: 0.3s;
}
.info-btn:hover{
  background-color: rgb(8, 79, 8);
  color: white;
  font-size: 1em;
}
ul {
  list-style-type: none;
}

.pokemon-types{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  text-transform: capitalize;
}

.type {
  border-radius: 0.5em;
  padding: 0.25em;
  font-weight: 600;
}

dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  min-width: 15vw;
  max-height: min-content;
  padding: 0 1em 1em 1em;
  border-style: none;
  border-radius: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  p {
    font-size: 1.5em;
    color: rgb(203, 0, 81);
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  ul li {
    font-size: 1em;
  }
}

button {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  border: none;
  color: black;
  cursor: pointer;
}

.close{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  a{
  font-size: 3.5em;
  &:hover{
    color: rgb(203, 0, 81);
  }
  }
}

.pagination button {
  background-color: #FF0060;
  color: white;
  transition: .3s;
  &:hover{
    font-size: 1em;
  }
}

.normal {
  background-color: var(--type-normal);
  color: var(--clr-black);
}

.fuego {
  background-color: var(--type-fire);
  color: var(--clr-black);
}

.agua {
  background-color: var(--type-water);
  color: var(--clr-white);
}

.planta {
  background-color: var(--type-grass);
  color: var(--clr-black);
}

.eléctrico {
  background-color: var(--type-electric);
  color: var(--clr-black);
}

.hielo {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.lucha {
  background-color: var(--type-fighting);
  color: var(--clr-white);
}

.veneno {
  background-color: var(--type-poison);
  color: var(--clr-white);
}

.tierra {
  background-color: var(--type-ground);
  color: var(--clr-black);
}

.volador {
  background-color: var(--type-flying);
  color: var(--clr-black);
}

.psíquico {
  background-color: var(--type-psychic);
  color: var(--clr-black);
}

.bicho {
  background-color: var(--type-bug);
  color: var(--clr-black);
}

.roca {
  background-color: var(--type-rock);
  color: var(--clr-black);
}

.fantasma {
  background-color: var(--type-ghost);
  color: var(--clr-white);
}

.siniestro {
  background-color: var(--type-dark);
  color: var(--clr-white);
}

.dragón {
  background-color: var(--type-dragon);
  color: var(--clr-white);
}

.acero {
  background-color: var(--type-steel);
  color: var(--clr-black);
}

.hada {
  background-color: var(--type-fairy);
  color: var(--clr-black);
}